$black: #363838;
$default: #5A5A5A;

%title-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $black;
    
    line-height: 22px;
}

%send-btn {
    padding: 6px 12px;
    color: #FFFFF0 ;
    background: #363838;
    border-radius: 21px;    
    line-height: 28px;
    min-width: 160px;
}